
html, body{
	text-align:center;
	background:white;
	width:100%;
	padding:0;
	margin:0;
	height:100%;
}
body{position:relative;}
.menu, .res_menu{
	position:absolute;
	border:2px solid #34D0B6;
	top:15px;
}
.menu{
	left:10px;
	width:300px;
	height:100px;
	background:#9370DB;
}
.res_menu{
	right:10px;
	width:50px;
	height:100px;	
	background:#BDF400;
}
.m_bl{
	display:inline-block;
	width:100%;
	height:40px;
	background:yellow;
	color:brown;
	cursor:pointer;
	font-size:20px;
	font-weight:bold;
	transition:0.2s;
	line-height:40px;
}

.m_bl:hover{
	background:brown;
	color:yellow;
	font-size:25px;
	font-weight:bolder;
}
.country{	
	
	display:inline-block;
	width:100%;
	height:45px;
	background:yellow;
	color:brown;
	
	font-size:40px;
	font-weight:bold;
}
.open_m, .open_m:hover{
	background:lime;

}

#bl2 img{width:500px;}
.rnd, .sqr{
	display:inline-block;
	margin:0 10px;
	width:50px;
	height:50px;
}
.rnd{border-radius:50px;}
.red{background:red;}
.lime{background:lime;}
.orange{background:orange;}
.blue{background:blue;}
.newbl{
	font-size:17px;
	font-style:italic;
	font-weight:bold;
	display:inline-block;
	text-align:center;
	color:green;
	width:100%;
	cursor:pointer;
	transition:0.4s;
}
.newbl:hover{
	color:yellow;
	font-size:20px;
	text-decoration:underline;
}
.pc{
	display:inline-block;
	border:1px solid green;
	position:absolute;
	left:210px;
}
.pc:hover{border:1px solid yellow;}